In [114]:
%pip install python-Levenshtein
%pip install openpyxl
%pip install pandas

Requirement already satisfied: python-Levenshtein in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (0.26.1)
Requirement already satisfied: Levenshtein==0.26.1 in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (from python-Levenshtein) (0.26.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (from Levenshtein==0.26.1->python-Levenshtein) (3.11.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\ashabana\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [115]:
Month="May"

In [116]:
import warnings
# Disable only DeprecationWarnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
# Disable all warnings
warnings.filterwarnings("ignore")
import Levenshtein
import pandas as pd
def levenshtein_distance(str1, str2):
    """
    Calculate the Levenshtein distance between two strings.

    Parameters:
    str1 (str): The first string.
    str2 (str): The second string.

    Returns:
    int: The Levenshtein distance between the two strings.
    """
    return Levenshtein.distance(str1, str2)
def updateEmployeeCode(dfMetric):
    dfEmployeeCode=pd.read_csv('report model\\EmployeeCode.csv')
    dfMetric=dfMetric.rename(columns={'userName':'Name','TimeInHours':'CompletedWork'})
    dfMetric.head()
    dfMetric['Employee ID']=""
    dfMetric['Name TFS']=""
    for i,row in dfMetric.iterrows():
        index=-1
        distance=1000000
        for j ,row2 in dfEmployeeCode.iterrows():
            
            distance1=levenshtein_distance(row['Name'], row2['Name'])
            if distance1<distance:
                    distance=distance1
                    index=j
        #print (row['Name'],dfTFS.iloc[index]['Name'])
        dfMetric.at[i,'Employee ID']=dfEmployeeCode.iloc[index]['Employee ID']
        dfMetric.at[i,'Name TFS']=dfEmployeeCode.iloc[index]['Name']   
    dfMetric=dfMetric.drop(columns={'Name'})
    dfMetric=dfMetric.rename(columns={'Name TFS':'Name'})
    return dfMetric


def UpdateEpicName(df,dfsource):
    for index, row in df.iterrows():
        dfresult=dfsource[dfsource['Budget Code']==row['Budget Code']]
        if len(dfresult)!=0:
            df.at[index,'Epic Name']=dfresult.iloc[0]['Product']
        else:
            print (row['Budget Code'] ,row['Epic Name'])
    return df
def update_budget_codes(df_codes, df_data, code_col='Budget Code'):
    """
    Updates budget codes in df_data based on a mapping provided in df_codes.

    Parameters:
        df_codes (pd.DataFrame): DataFrame containing 'old_budget_code' and 'new_budget_code' columns.
        df_data (pd.DataFrame): DataFrame where budget codes should be updated.
        code_col (str): Column name in df_data that contains budget codes.

    Returns:
        pd.DataFrame: A new DataFrame with updated budget codes.
    """

    # Create a dictionary mapping old codes to new codes
    code_map = df_codes.set_index('Budget Code')['New Budget code'].to_dict()

    # Debug print (optional): Check the mapping
    print("Budget code mapping:", code_map)

    # Replace the budget codes in df_data using the map
    df_data_updated = df_data.copy()
    df_data_updated[code_col] = df_data_updated[code_col].replace(code_map)

    return df_data_updated

def UpdateTeam(df,dfsource):
    for index, row in df.iterrows():
        dfresult=dfsource[dfsource['Employee ID']==row['Employee ID']]
        if len(dfresult):
            df.at[index,'Team']=dfresult.iloc[0]['Team']
    return df

def UpdatePortfolio(df,dfsource):
    
    print (print(df.dtypes))
    print (print(dfsource.dtypes))
    
    df['Portfolio']=""
    for index, row in df.iterrows():
        dfresultP=dfsource[dfsource['Budget Code']==row['Budget Code']]
        if len(dfresultP):
            if row['Employee ID']=='311032':
                print (dfresultP.iloc[0]['Portfolio'])
            df.iloc[index,6]=dfresultP.iloc[0]['Portfolio']
        else:
            print ("No row",row['Budget Code'],row['Employee ID'])
    return df

#Select emtpy Budget code
def ProcessData(df):
    dfTFSEmpty=df[df['Budget Code'].isna()]
    dfTFSEmpty["TotalHours"]=0
    dfTFSEmpty["Percentage"]=0

    #Calculate the percentage 

    # Group by EmployeeID and Project, then sum the hours
    grouped = df.groupby(['Budget Code','Epic Name','Employee ID','Name'])['CompletedWork'].sum().reset_index()

    # Calculate the total hours worked by each employee
    total_hours = grouped.groupby('Employee ID')['CompletedWork'].sum().reset_index()
    total_hours = total_hours.rename(columns={'CompletedWork': 'TotalHours'})

    # Merge the total hours with the grouped data
    merged = pd.merge(grouped, total_hours, on='Employee ID')

    # Calculate the percentage of time invested in each project
    merged['Percentage'] = (merged['CompletedWork'] / merged['TotalHours']) * 100

    print (merged.count())
    merged.head()

    for i, row in  dfTFSEmpty.iterrows():
        employeedata= merged[merged['Employee ID']==row['Employee ID']]
        max_completed_work_idx = employeedata.groupby('Employee ID')['CompletedWork'].idxmax()
        df_max_completed_work = employeedata.loc[max_completed_work_idx]
        if len(df_max_completed_work)>0:
            #print (df_max_completed_work.iloc[0]['Budget Code'])
            dfTFSEmpty.at[i,'Budget Code']=df_max_completed_work.iloc[0]['Budget Code']
            dfTFSEmpty.at[i,'Epic Name']=df_max_completed_work.iloc[0]['Epic Name']
        #else:
            #print (row['Employee ID'])

    final_result = pd.concat([dfTFSEmpty, merged])
    final_result.reset_index(drop=True, inplace=True)
    return final_result

In [117]:

# Example usage
string1 = "Mehdi CHAIB RASSOU"
string2 = "Mahdi Rassou"
#string2 = "Mahdi Chebbah"

distance = levenshtein_distance(string1, string2)
print(f"The Levenshtein distance between '{string1}' and '{string2}' is {distance}.")

The Levenshtein distance between 'Mehdi CHAIB RASSOU' and 'Mahdi Rassou' is 12.

In [118]:
# load support data
dfOldResult=pd.read_csv('backup\\oldresult.csv')
dfPorductCode=pd.read_csv('D:\\Medad Projects\\PI planning\\Budget Code\\Portfolio Budget Code_V3.csv')
dfBackup=pd.read_csv('backup\\tsfresult.csv')
dfNewCode=pd.read_excel('D:\\Medad Projects\\PI planning\\Budget Code\\NewBudgetCode.xlsx')

In [119]:
dfNewCode.head()

,Platform Name,Sub module,Budget Code,New Budget code
0,Library Services Platform,NaN,20100,20100
1,NaN,DAR,20313,20314
2,NaN,Library Portal LP,20213,20236
3,Training Management Platform,NaN,10200,10200
4,NaN,Training Environment,10201,10211

In [120]:
dfBackup2=dfBackup[dfBackup['Employee ID']=='FR-KSA-158']
dfBackup2.head()

,Unnamed: 0,Budget Code,Epic Name,Employee ID,Name,CompletedWork,TotalHours,Percentage
209,169,20213,Portal Core,FR-KSA-158,Yasmin Emad,150.0,150.0,80.0

In [121]:
Month

'May'

In [122]:
import os

def create_folder(path):
    """
    Creates a folder at the specified path.

    Parameters:
        path (str): The path where the folder will be created.

    Returns:
        bool: True if the folder was created successfully, False if it already exists.
    """
    try:
        os.makedirs(path, exist_ok=False)
        print(f"Folder created successfully: {path}")
        return True
    except FileExistsError:
        print(f"Folder already exists: {path}")
        return False
    except OSError as e:
        print(f"Error creating folder '{path}': {e}")
        raise

In [123]:
create_folder("Result\\"+Month)

dfTFS=pd.read_excel("Data\\"+Month+"\\Medad TFS.xlsx")
print (dfTFS.count())
dfTFS=ProcessData(dfTFS)
print (dfTFS.head())

# update the budget code from old data 

for index, row in dfTFS.iterrows():
    if pd.isna(row['Budget Code'] ):
       
        result=dfBackup[dfBackup['Employee ID']==row['Employee ID']]
        if len(result):
            print ( result.iloc[0]['Budget Code']  )
            dfTFS.at[index, 'Budget Code']   =  result.iloc[0]['Budget Code']  
            dfTFS.at[index, 'Epic Name']   =  result.iloc[0]['Epic Name']  
            print (index)
        else:
            print (row['Employee ID'])
dfTFS.to_csv("Result\\"+Month+"\\tsfresult.csv")

Folder already exists: Result\May
Budget Code      54
Epic Name        57
Employee ID      67
Name             67
CompletedWork    67
dtype: int64
Budget Code      54
Epic Name        54
Employee ID      54
Name             54
CompletedWork    54
TotalHours       54
Percentage       51
dtype: int64
   Budget Code               Epic Name Employee ID              Name  \
0      20110.0       Enhance Medad LSP      110032  Ahmad Abduldayem
1      20110.0       Enhance Medad LSP      110503    Samah Mohammed
2          NaN                     NaN      293002       Yamen Saleh
3      20309.0  Medad Content Plus V.1  FR-KSA-109     Mohammed Rezk
4          NaN                     NaN  FR-KSA-113     Mohammed Emad

   CompletedWork  TotalHours  Percentage
0           56.0         0.0         0.0
1          106.0         0.0         0.0
2          160.0         0.0         0.0
3            2.0         0.0         0.0
4            0.5         0.0         0.0
20313
2
10201
4
10301
9
10301
12

In [124]:

# timeDoctor
dftimeDoctor=pd.read_excel("Data\\"+Month+"\\timeDoctor.xlsx")
dftimeDoctor=dftimeDoctor.rename(columns={'userName':'Name','TimeInHour':'CompletedWork'})
# update un budget code 
print (dftimeDoctor.head())

dftimeDoctor=ProcessData(dftimeDoctor)
for index, row in dftimeDoctor.iterrows():
    if pd.isna(row['Budget Code'] ):
        result=dfBackup[dfBackup['Employee ID']==row['Employee ID']]
        if len(result):
            #print ( result.iloc[0]['Budget Code']  )
            dftimeDoctor.at[index, 'Budget Code']   =  result.iloc[0]['Budget Code']  
            dftimeDoctor.at[index, 'Epic Name']   =  result.iloc[0]['Epic Name']  
            #print (index)
        else:
            print ("Not found",row['Employee ID'] )
dftimeDoctor.to_csv("Result\\"+Month+"\\timeDoctorresult.csv")

  Budget Code Epic Name Employee ID             Name  CompletedWork
0         NaN       NaN      101259  Zahra Albensaad          79.96
1         NaN       NaN      101307   Reham Binjaber          29.44
2         NaN       NaN      101388    Ali Almatrood          56.07
3         NaN       NaN      120017  Mohammed Swidan         164.54
4         NaN       NaN      311028   Mira Boureslan          78.92
Budget Code      95
Epic Name        95
Employee ID      95
Name             95
CompletedWork    95
TotalHours       95
Percentage       95
dtype: int64
Not found FR-KSA-114
Not found FR-KSA-163
Not found nan

In [125]:

#filter the data
dfTFS=dfTFS[['Employee ID','Name','CompletedWork','Budget Code','Epic Name','TotalHours','Percentage']]
dftimeDoctor=dftimeDoctor[['Employee ID','Name','CompletedWork','Budget Code','Epic Name','TotalHours','Percentage']]

In [126]:
# update budget code 
dfTFS=UpdateEpicName(dfTFS,dfPorductCode)
dftimeDoctor=UpdateEpicName(dftimeDoctor,dfPorductCode)
dfOldResult=UpdateEpicName(dfOldResult,dfPorductCode)
dfTFS.to_csv("Result\\"+Month+"\\tsfresult.csv")
dftimeDoctor.to_csv("Result\\"+Month+"\\timeDoctorresult.csv")

20313 DAR Core
10413 IEP Core
70100 Medad Unified Core
20313 DAR Core
20110 Enhance Medad LSP
10402 Outcomes Assessment
71100 Integration Management
10301 Student Management
20309 Medad Content Plus V.1
10101 Learning Environment
10401 Core Service
nan nan
10302 Admission
10302 Admission
20313 DAR Core
20213 Portal Core
10302 Admission
70900 Commerce and Billing gateway
10210 Individual Development Plan (IDP)
10101 Learning Environment
20213 Portal Reported & known issues
10101 Learning Environment
10401 Core Service
20213 New Portal Design
20313 DAR Core
20501 HUB Gateway
nan nan
20213 Portal Search
10204 Training Environment
10402 Outcomes Assessment
20309 Medad Content Plus V.1
10210 Individual Development Plan (IDP)
10302 Admission
10401 Core Service
10301 Student Management
20110 Enhance Medad LSP
70300 Services Provisioning & Management
10402 Outcomes Assessment
20110 Enhance Medad LSP
20110 Enhance Medad LSP
70100 Medad Unified Core
20501 Epic: Releases
10402 Outcomes Assessment
10302 Admission
37413 Legal Depository Core
10307 CMP Core
10401 Core Service
20501 Epic: Releases
70100 Medad Unified Core
20213 Portal Core
20213 New Portal Design
20213 Portal Core
20213 Portal Reported & known issues
10210 Individual Development Plan (IDP)
10204 Training Environment
nan nan
10101 Learning Environment
10101 Learning Environment
10401 Core Service
10101 Learning Environment
10204 Training Environment
10210 Individual Development Plan (IDP)
10401 Core Service
10210 Individual Development Plan (IDP)
10210 Individual Development Plan (IDP)
10301 Student Management
10303 Auto Scheduling
10301 Student Management
10302 Admission
10301 Student Management
10303 Auto Scheduling
10301 Student Management
10303 Auto Scheduling
10307 CMP Core
10302 Admission
10302 Admission
10302 Admission
10302 Admission
10307 CMP Core
10413 IEP Core
70100 Medad Unified Core
10401 Core Service
10401 Core Service
10401 Core Service
10401 Core Service
10402 Outcomes Assessment
10413 IEP Core
10402 Outcomes Assessment
10413 IEP Core
10402 Outcomes Assessment
10413 IEP Core
10402 Outcomes Assessment
10413 IEP Core
10402 Outcomes Assessment
10404 Program Review
10407 Institutional Research
10413 IEP Core
10402 Outcomes Assessment
10413 IEP Core
20110 Enhance Medad LSP
20222 Staff Mobile App
20110 Enhance Medad LSP
20110 Enhance Medad LSP
20309 Medad Content Plus V.1
20110 Enhance Medad LSP
20110 Enhance Medad LSP
20222 Staff Mobile App
20110 Enhance Medad LSP
20222 Staff Mobile App
20213 New Portal Design
20213 Portal CMS
20213 Portal Core
20213 Portal Reported & known issues
20213 Portal Core
20213 Portal Reported & known issues
20213 Portal Core
20213 Portal Search
20213 Portal Reported & known issues
20213 Portal Search
20309 Medad Content Plus V.1
20313 DAR Core
20313 DAR Core
20313 DAR Core
20313 DAR Core
20501 AI Automation & Autonomous Agents
20501 AI Governance, Security & Ethical AI
20501 Epic: Releases
20501 AI Governance, Security & Ethical AI
20501 AI Knowledge Center & Document Processing
20501 AI Performance & Analytics Dashboard
20501 Epic: Releases
20501 HUB Gateway
20501 Pre-defined Agents
70100 Medad Unified Core
70600 Logging & Reporting Services
70900 Commerce and Billing gateway
20501 AI Knowledge Center & Document Processing
20501 EB -Frontend design system integration
20501 Epic: Releases
20501 HUB Gateway
20501 AI Knowledge Center & Document Processing
20501 AI Performance & Analytics Dashboard
20501 Epic: Releases
20501 HUB Gateway
37413 Legal Depository Core
70100 Medad Unified Core
70600 Logging & Reporting Services
71100 Integration Management
70100 Medad Unified Core
70300 Services Provisioning & Management
70900 Commerce and Billing gateway

In [127]:

dfEmployeeCode=pd.read_csv("report model\\EmployeeCode.csv")
dfCapacity=pd.read_excel("Data\\"+Month+"\\Capacity.xlsx")

dfCapacity['Budget Code']=""
dfCapacity['Epic Name']=""
dfCapacity['CompletedWork']=0
dfCapacity['TotalHours']=0
dfCapacity['Percentage']=0
#dfCapacity=dfCapacity.drop(columns={'Role'})
dfCapacity=dfCapacity.rename(columns={'EmployeeID':'Employee ID'})
print (dfCapacity.head())
for i ,row in dfCapacity.iterrows():
   
    try :
        reminingPart= round ((1-row['TLI%'])*row[2],2)
        dfresult=dftimeDoctor[dftimeDoctor['Employee ID']==row['Employee ID']]
        if len(dfresult)==0:
             dfresult=dfTFS[dfTFS['Employee ID']==row['Employee ID']]
             if len(dfresult)==0:
                dfresult=dfOldResult[dfOldResult['Employee ID']==row['Employee ID']]

        print ("Employee ID:",row['Employee ID'],len(dfresult))

        dfresult['CompletedWork'] = pd.to_numeric(dfresult['CompletedWork'], errors='coerce')
        max_completed_work_idx = dfresult.groupby('Employee ID')['CompletedWork'].idxmax()
        df_max_completed_work = dfresult.loc[max_completed_work_idx]
        if len(df_max_completed_work)>0:
            #print (df_max_completed_work.iloc[0]['Budget Code'])


            dfCapacity.at[i,'Budget Code']=df_max_completed_work.iloc[0]['Budget Code']
            dfCapacity.at[i,'Epic Name']=df_max_completed_work.iloc[0]['Epic Name']
     
            
            dfCapacity.at[i,'Percentage']=round ((1-row['TLI%']),2)
            dfCapacity.at[i,'TLI%']=round ((row['TLI%']),2)
            #dfCapacity.at[i,'Productivity over Availability']=round (row['Productivity over Availability'],2)


            dfCapacity.at[i,'CompletedWork']=reminingPart
            dfCapacity.at[i,'TotalHours']=reminingPart
            dfCapacity.at[i,'Percentage']=round ((1-row['TLI%']),2)
            
        else:
           print (reminingPart,row['Name'])
           dfCapacity.at[i,'CompletedWork']=reminingPart
           dfCapacity.at[i,'TotalHours']=reminingPart
           dfCapacity.at[i,'Percentage']=round ((1-row['TLI%']),2)
    except Exception:
         print (Exception)

for i ,row in dfCapacity.iterrows():            

            if row['TLI%']>=1:
                     
                     reminingPart= round ((1-row['TLI%'])*row[2],2)
                     print (reminingPart)
                     if row['Name']=="Diaa Shalabi":
                         print ("prod:",row['TLI%'])
                         print ("remining time",reminingPart)
                     filtered_result=dfTFS[dfTFS['Employee ID']==row['Employee ID']]
                     if not filtered_result.empty:
                        print (row['Employee ID'])
                        index_of_max = filtered_result['CompletedWork'].idxmax()
                        print (index_of_max)
                        print ("Completed hours:",dfTFS.loc[index_of_max, 'CompletedWork'])
                        # Update the completedWork value at this index
                        timecount =dfTFS.iloc[index_of_max]['CompletedWork'] +reminingPart
                        print (timecount)
                        if timecount <0:
                             dfTFS.loc[index_of_max, 'CompletedWork'] = 0
                             reminingPart=timecount
                             while timecount<0:
                                reminingPart=timecount
                                print ("within loop",reminingPart)
                                filtered_result=dfTFS[dfTFS['Employee ID']==row['Employee ID']]
                                index_of_max = filtered_result['CompletedWork'].idxmax()
                                print ("Index:",index_of_max)
                                if dfTFS.iloc[index_of_max]['CompletedWork'] ==0:
                                     print ("End")
                                     break
                                timecount =dfTFS.iloc[index_of_max]['CompletedWork'] +reminingPart
                                print (reminingPart)
                                if timecount<0:
                                    dfTFS.loc[index_of_max, 'CompletedWork'] = 0
                                else:
                                    dfTFS.loc[index_of_max, 'CompletedWork'] = dfTFS.loc[index_of_max, 'CompletedWork'] +reminingPart


                        else:
                            dfTFS.loc[index_of_max, 'CompletedWork'] = dfTFS.loc[index_of_max, 'CompletedWork'] +reminingPart
            
            
dfCapacity=UpdateTeam(dfCapacity,dfEmployeeCode)
dfCapacityfinal=dfCapacity[dfCapacity['CompletedWork']>0]

dfCapacityfinal=dfCapacityfinal[['Employee ID','Name','Budget Code','Epic Name','CompletedWork','TotalHours','Percentage']]

dfCapacity.to_csv('Result\\'+Month+'\\CapacityResults.csv')
dfCapacityfinal["ReportType"]="Remaining Capacity" 
dfTFS["ReportType"] ="TFS"

dftimeDoctor["ReportType"] ="TimeDoctor"
dfTFS['CompletedWork']=dfTFS['CompletedWork'].round(2)
dffinalResult= pd.concat([dftimeDoctor, dfTFS,dfCapacityfinal])
dffinalResult=dffinalResult[dffinalResult['CompletedWork']>0]
dffinalResult.reset_index(drop=True, inplace=True)
dfCapacityfinal=dfCapacityfinal.drop(columns={'ReportType'})
dfTFS=dfTFS.drop(columns={'ReportType'})
dffinalResult.to_csv("finalResult.csv")
dffinalResult=dffinalResult.drop(columns={'TotalHours','Percentage'})

dffinalResult['Budget Code'] = dffinalResult['Budget Code'].replace('', '0').fillna('0')
# Convert column type from object (string) to integer
dffinalResult['Budget Code'] = dffinalResult['Budget Code'].astype(int)

dffinalResult=UpdatePortfolio(dffinalResult,dfPorductCode)
dffinalResult=update_budget_codes(dfNewCode,dffinalResult)
dffinalResult.to_csv('Result\\'+Month+'\\Total Completed.csv')
name='Result\\'+Month+'\\'+Month+'-Report.xlsx'
dfCapacity=dfCapacity.rename(columns={'TotalHours':'Variance','Percentage':'Variance %'})
dfCapacity=dfCapacity.drop(columns={'CompletedWork'})
dfCapacityfinal=update_budget_codes(dfNewCode,dfCapacityfinal)
dfTFS=update_budget_codes(dfNewCode,dfTFS)
with pd.ExcelWriter(name, engine='openpyxl') as writer:
    dffinalResult.to_excel(writer, sheet_name='Total Completed-'+Month, index=False)
    dfCapacity.to_excel(writer, sheet_name=Month+' Capacity', index=False)
    dfCapacityfinal.to_excel(writer, sheet_name='filtered '+Month+' Capacity', index=False)
    dfTFS.to_excel(writer, sheet_name='TFS time', index=False)
    dftimeDoctor.to_excel(writer, sheet_name='Time Doctor time', index=False)

  Employee ID                      Name  \
0      100363  Mohammed Hussam Alkhatib
1      100396         Aissa Berrachiche
2      100766          Ahmad Abdulsalam
3      100934            Alaa Alsharaah
4      101031              Mohammed Gad

   Capacity (Exclude official holidays&weekends)      TLI%  Billable  AUC  \
0                                            168  0.476190       NaN  NaN
1                                            168  1.377381       NaN  NaN
2                                            168  0.922619       NaN  NaN
3                                            168       NaN       NaN  NaN
4                                            168  0.238095       NaN  NaN

   Internal  Investment  Medad ERP  Medad TFS  ...  TimeDoctor non Billable  \
0       NaN         NaN        NaN        NaN  ...                      NaN
1       NaN         NaN        NaN       12.0  ...                      NaN
2       NaN         NaN        NaN      155.0  ...                      NaN
3       NaN         NaN        NaN        NaN  ...                      NaN
4       NaN         NaN        NaN        NaN  ...                      NaN

   Pre-Sales  Support  Vacation    Rate  Budget Code Epic Name CompletedWork  \
0        NaN      NaN      80.0  353.80                                    0
1        NaN      NaN       NaN     NaN                                    0
2        NaN      NaN       NaN  366.00                                    0
3        NaN      NaN       NaN  312.93                                    0
4        NaN      NaN      40.0  327.30                                    0

   TotalHours  Percentage
0           0           0
1           0           0
2           0           0
3           0           0
4           0           0

[5 rows x 21 columns]
Employee ID: 100363 0
88.0 Mohammed Hussam Alkhatib
Employee ID: 100396 3
Employee ID: 100766 1
Employee ID: 100934 0
nan Alaa Alsharaah
Employee ID: 101031 1
Employee ID: 101259 2
Employee ID: 101278 1
Employee ID: 101285 0
nan Ghadeer Alajami
Employee ID: 101307 3
Employee ID: 101388 11
Employee ID: 101409 3
Employee ID: 101538 2
Employee ID: 101641 0
nan Maha AlOtaibi
Employee ID: 101642 0
nan Jumana Alsubhi
Employee ID: 101697 0
nan Fatima AlAnazi
Employee ID: 110032 2
Employee ID: 110503 2
Employee ID: 110556 0
152.0 Ahmad Elkashef
Employee ID: 120017 1
Employee ID: 293002 1
Employee ID: 298008 1
<class 'Exception'>
Employee ID: 311028 2
Employee ID: 311029 1
Employee ID: 311032 0
115.35 Naghm Darwish
Employee ID: FR-KSA-06 3
Employee ID: FR-KSA-07 3
Employee ID: FR-KSA-10 4
Employee ID: FR-KSA-102 1
Employee ID: FR-KSA-105 3
Employee ID: FR-KSA-109 2
Employee ID: FR-KSA-11 2
Employee ID: FR-KSA-113 3
Employee ID: FR-KSA-114 1
Employee ID: FR-KSA-116 3
Employee ID: FR-KSA-117 2
Employee ID: FR-KSA-118 2
Employee ID: FR-KSA-119 5
Employee ID: FR-KSA-12 2
Employee ID: FR-KSA-120 2
Employee ID: FR-KSA-122 3
Employee ID: FR-KSA-124 3
Employee ID: FR-KSA-125 4
Employee ID: FR-KSA-126 2
Employee ID: FR-KSA-140 5
Employee ID: FR-KSA-141 1
Employee ID: FR-KSA-143 2
Employee ID: FR-KSA-146 6
Employee ID: FR-KSA-149 2
Employee ID: FR-KSA-158 2
Employee ID: FR-KSA-162 5
Employee ID: FR-KSA-163 1
Employee ID: FR-KSA-167 1
Employee ID: FR-KSA-169 3
Employee ID: FR-KSA-196 3
Employee ID: FR-KSA-198 0
nan Andrew Kazem
Employee ID: FR-KSA-201 0
nan Mohammed Elbagoury
Employee ID: FR-KSA-203 0
nan Kareem Salem
Employee ID: FR-KSA-21 3
Employee ID: FR-KSA-22 3
Employee ID: FR-KSA-35 2
Employee ID: FR-KSA-37 2
Employee ID: FR-KSA-39 2
Employee ID: FR-KSA-40 3
Employee ID: FR-KSA-48 2
Employee ID: FR-KSA-50 1
Employee ID: FR-KSA-51 1
Employee ID: FR-KSA-52 2
Employee ID: FR-KSA-58 5
Employee ID: FR-KSA-65 3
Employee ID: FR-KSA-66 3
Employee ID: FR-KSA-67 2
Employee ID: FR-KSA-68 1
Employee ID: FR-KSA-70 5
Employee ID: FR-KSA-71 3
Employee ID: FR-KSA-74 1
Employee ID: FR-KSA-77 1
Employee ID: FR-KSA-78 2
Employee ID: FR-KSA-79 2
Employee ID: FR-KSA-82 4
Employee ID: FR-KSA-85 1
Employee ID: FR-KSA-88 2
Employee ID: FR-KSA-92 1
Employee ID: FR-KSA-93 4
Employee ID: FR-KSA-98 0
160.0 Ahmad Shabana
Employee ID: T00030 0
nan Yazeed Iskandar
Employee ID: T00033 0
nan Sulaiman Alotaig
-63.84
100396
24
Completed hours: 8.0
-55.84
within loop -55.84
Index: 25
-55.84
within loop -51.84
Index: 24
End
-45.36
101388
52
Completed hours: 29.95
-15.41
within loop -15.41
Index: 56
-15.41
within loop -9.66
Index: 57
-9.66
within loop -4.24
Index: 55
-4.24
within loop -1.13
Index: 59
-1.13
-70.4
101409
39
Completed hours: 187.0
116.6
-4.8
-19.2
-8.0
311029
19
Completed hours: 168.0
160.0
-25.2
0.0
FR-KSA-116
20
Completed hours: 15.0
15.0
-112.0
FR-KSA-122
18
Completed hours: 52.5
-59.5
within loop -59.5
Index: 6
-59.5
within loop -8.5
Index: 11
-8.5
-64.0
FR-KSA-125
42
Completed hours: 55.45
-8.549999999999997
within loop -8.549999999999997
Index: 7
-8.549999999999997
-12.32
FR-KSA-163
49
Completed hours: 15.0
2.6799999999999997
-11.76
FR-KSA-169
44
Completed hours: 57.0
45.24
-94.08
prod: 1.56
remining time -94.08
FR-KSA-58
26
Completed hours: 61.0
-33.08
within loop -33.08
Index: 29
-33.08
within loop -0.9299999999999926
Index: 8
-0.9299999999999926
-1.68
FR-KSA-77
22
Completed hours: 46.0
44.32
Employee ID       object
Name              object
CompletedWork    float64
Budget Code        int32
Epic Name         object
ReportType        object
dtype: object
None
Portfolio      object
Product        object
Budget Code     int64
Description    object
dtype: object
None
No row 0 FR-KSA-114
No row 0 FR-KSA-163
No row 0 100363
No row 0 110556
No row 0 311032
No row 0 FR-KSA-114
No row 0 FR-KSA-98
Budget code mapping: {20100: 20100, 20313: 20314, 20213: 20236, 10200: 10200, 10201: 10211, 10203: 10213, 10205: 10215, 10206: 10216, 10300: 10300, 10301: 10311, 10302: 10312, 10305: 10315, 10400: 10400, 10401: 10421, 10402: 10422, 10403: 10423, 10404: 10424, 10405: 10425, 10407: 10427, 10408: 10428}
Budget code mapping: {20100: 20100, 20313: 20314, 20213: 20236, 10200: 10200, 10201: 10211, 10203: 10213, 10205: 10215, 10206: 10216, 10300: 10300, 10301: 10311, 10302: 10312, 10305: 10315, 10400: 10400, 10401: 10421, 10402: 10422, 10403: 10423, 10404: 10424, 10405: 10425, 10407: 10427, 10408: 10428}
Budget code mapping: {20100: 20100, 20313: 20314, 20213: 20236, 10200: 10200, 10201: 10211, 10203: 10213, 10205: 10215, 10206: 10216, 10300: 10300, 10301: 10311, 10302: 10312, 10305: 10315, 10400: 10400, 10401: 10421, 10402: 10422, 10403: 10423, 10404: 10424, 10405: 10425, 10407: 10427, 10408: 10428}